#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate

# .tfplan files
*.tfplan

# .pem files
*.pem

# .hcl files from Terraform v0.14 and newer
*.hcl

# concul data
**/data/*
